* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #050505;
    --text-header: #eee;
    --text-color: #ccc;
    --lang-border: #161616;
}

body {
    background-color: var(--main-color);
    font-family: "Consolas", monospace;
    line-height: 1.5;
    font-size: 17px;
    padding: 25px;
}

article {
    max-width: 600px;
    margin: 80px auto 0px auto;
}

.container {
    display: inline-block;
    /* box-sizing: content-box; */
}

.typewriter {
    line-height: 1;
    width: 0;
    border-right: 0.12em solid var(--text-header);
    overflow: hidden;
    animation: 
        blink 0.8s step-end infinite,
        typing 4.8s steps(6, end) forwards;

}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
    
}

@keyframes blink {
    from, to {border-color: transparent}
    50% {border-color: var(--text-header);}
}

h1 {
    color: var(--text-header);
    margin-bottom: 25px;
}

p {
    color: var(--text-color);
}

p, ul {
    margin-bottom: 15px;
}

#lang {
    display: flex;
    gap: 10px;
    font-size: 0.9rem;
    margin-bottom: 30px;
}

#lang li {
    list-style: none;
    padding: 5px 10px;
    color: var(--text-header);
    background-color: var(--lang-border);
}

#links {
    display: flex;
    gap: 20px;
}

#links li a {
    color: var(--text-header);
    list-style: none;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    padding-bottom: 6px;
    border-bottom: 3px solid var(--lang-border);
}

#links li a:visited {
    border-bottom: var(--lang-border);
}

#links li a:hover,
#links li a:active {
    border-color: var(--text-header);
}


#links a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}

#links p {
    margin: 0;
}

.github-img {
    width: 1.6rem;
}

.email-svg {
    width: 1.7rem;
    height: 1.7rem;
}

.email-svg {
    fill: white;
}

.scroll {
    /* height: 0; */
    /* color: transparent; */
    /* height: auto; */
    position: relative;
    overflow: hidden;
    animation: 
        opac 1s ease-in-out,
        move 0.5s ease-in-out,
        show 3s ease-in;
}

@keyframes move {
    from {
        top: 15px;
    }

    to {
        top: 0px;
    }
}

@keyframes opac {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes show {
    /* from {max-height: 0;}
    to {max-height: auto;} */
    from {
        max-height: 0;
        /* color: transparent; */
    }

    to {
        max-height: 1600px;
    }
}
